@media screen and (max-width: 934px) {
	.container{
		padding: 20px 10px 0px 10px;
	}
	.header,
	.main{
		margin-bottom: 20px;
	}


	.header .nav .menu li{
		margin-left: 50px;
	}
	.photodiary,
	.preview, 
	.footer .social p{
		margin-bottom: 20px;
	}
	.load{
		margin-bottom: 50px;
	}
	
}
@media screen and (max-width: 768px) {
	.container >section{
		padding: 0;
	}
	h2, h3{
		margin-bottom: 20px;
	}
	h3{
		font-size: 24px;
	}
}


@media screen and (max-width: 734px) {
	.header .nav .menu li{
		margin-left: 20px;
	}
}



@media screen and (max-width: 614px) {
	/*menu magic*/
	.header {
		position: relative;
	}
	.header .nav .hamb:before{
		content: "=";
		width: 20px;
		height: 20px;
		color: #000;
		font-size: 46px;
		font-weight: 700;
	}
	.header .nav .menu{
		height: calc(100vh - 26px);
		width: calc(100% - 140px);
		flex-flow: column;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.9);
		right: 0;
		top: 40px;
		padding: 30px 20px 10px;
		display: none;
	}
	.header .nav .trigger:checked ~ .menu {
		display: block;
	}
	.header .nav .menu li{
		margin: 10px 0;
		border-bottom: 2px solid #fff;
	}
	.header .nav .menu li a{
		margin: 10px 0;
		color: #fff;
	}
	.header .nav .menu li a:hover{
		background-color: transparent;
	}
	/*end menu magic*/



	.item{
		width: 100%;
	}
	.load a{
		padding: 15px 50px;
	}
	.preview{
		margin-bottom: 0;
	}

}
@media screen and (max-width: 425px) {
	.subscribe legend{
		font-size: 24px;
	}
	.subscribe form::after{
		width: 265px;
	}

	.footer, .photodiary, .preview, .footer .social p{
		font-size: 12px;
	}
}